<div class="indiv-contact clearfix">
  <div>
   Name:  {{lastname}}, {{firstname}}
  </div>
  <div>
    Email: {{email}}
  </div>
  <div>
  Phone: {{phone}}
  </div>
  <div>
    Twitter: {{twitter}}
  </div>
  <div>
    LinkedIn: {{linkedin}}
  </div>
  <button class="delete-contact" type="button" name="button">Delete</button>
</div>
